<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Phoenix API Automation Suite" verbose="1">

	<test name="phoenix-Inwarranty Collection API-tests">
		<classes>
			<class name="com.phoenix.api.tests.FdLoginAPITest" />
			<class name="com.phoenix.api.tests.FdUserDetailsAPITest" />
			<class name="com.phoenix.api.tests.FDCountAPItest" />
			<class name="com.phoenix.api.tests.FDmasterAPItest" />
			<class name="com.phoenix.api.tests.CreateJobAPITest" />

		</classes>
	</test>
</suite>